<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    
	<servlet>
		<servlet-name>NotesServlet</servlet-name>
		<display-name>NotesServlet</display-name>
		<description></description>
		<servlet-class>servlet.NotesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NotesServlet</servlet-name>
		<url-pattern>/NotesServlet</url-pattern>
	</servlet-mapping>
	
</web-app>
